<header role="banner" id="header" class="global-header fixed">
    <div id="skip-to-content"><a href="#main-content">Skip to Main Content</a></div>
    <partial name="header/_UtilityHeader" />
    <partial name="header/_SettingsBar" />
    <partial name="header/_Branding" />
    <partial name="header/_Mobile" />
    <partial name="header/_Navigation" />
</header>