<head>

    <meta charset="utf-8">
    <title>@ViewData["Title"] | NET.Core State Template</title>
    <meta name="Author" content="State of California" />
    <meta name="Description" content="State of California" />
    <meta name="Keywords" content="California, government" />
    <!-- Use highest compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <!-- for Blackberry, AvantGo -->
    <meta name="MobileOptimized" content="320">
    <!-- for Windows mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Asap+Condensed:400,600|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>

    <environment names="Development, SystemTest">
        @*State Template core styles*@
        <link rel="stylesheet" href="https://california.azureedge.net/cdt/statetemplate/5.5.13/css/cagov.core.css" />
        @*State Template color scheme*@
        <link rel="stylesheet" href="https://california.azureedge.net/cdt/statetemplate/5.5.13/css/colorscheme-mono.min.css" />

        @*Other State Template color schemes*@
        @*<link rel="stylesheet" href="https://california.azureedge.net/cdt/statetemplate/5.5.13/css/colorscheme-eureka.min.css" />
        <link rel="stylesheet" href="https://california.azureedge.net/cdt/statetemplate/5.5.13/css/colorscheme-oceanside.min.css" />
        <link rel="stylesheet" href="https://california.azureedge.net/cdt/statetemplate/5.5.13/css/colorscheme-orangecounty.min.css" />
        <link rel="stylesheet" href="https://california.azureedge.net/cdt/statetemplate/5.5.13/css/colorscheme-pasorobles.min.css" />
        <link rel="stylesheet" href="https://california.azureedge.net/cdt/statetemplate/5.5.13/css/colorscheme-sacramento.min.css" />
        <link rel="stylesheet" href="https://california.azureedge.net/cdt/statetemplate/5.5.13/css/colorscheme-santabarbara.min.css" />
        <link rel="stylesheet" href="https://california.azureedge.net/cdt/statetemplate/5.5.13/css/colorscheme-sierra.min.css" />
        <link rel="stylesheet" href="https://california.azureedge.net/cdt/statetemplate/5.5.13/css/colorscheme-trinity.min.css" />*@

        @*App custom styles*@
        <link rel="stylesheet" href="~/css/site.css" />

        @*JS Libraries*@
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
    </environment>



    <!-- selectivizr.com, emulates CSS3 pseudo-classes and attribute selectors in Internet Explorer 6-8 -->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="https://california.azureedge.net/cdt/statetemplate/5.5.13/js/libs/selectivizr-min.js"></script>
    <![endif]-->
    <!-- Activate ClearType for Mobile IE -->
    <!--[if IE]>
    <meta http-equiv="cleartype" content="on">
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://california.azureedge.net/cdt/statetemplate/5.5.13/js/libs/html5shiv.min.js"></script>
      <script src="https://california.azureedge.net/cdt/statetemplate/5.5.13/js/libs/respond.min.js"></script>
    <![endif]-->

</head>