<!-- Branding -->
<div class="branding">
    <div class="header-organization-banner">
        <a href="/">
            <div class="logo-assets">
                <img src="~/images/template-logo.png" class="logo-img" alt="State Template Logo" />
                <div class="logo-text">
                    <span class="logo-state">CA Web Standards</span>
                    <span class="logo-dept">.NET Core</span>
                </div>
            </div>
        </a>
    </div>
</div>