<!--  Navigation -->
<div class="navigation-search">
    <!-- Include Navigation -->
    <nav id="navigation" class="main-navigation singlelevelnav">
        <ul id="nav_list" class="top-level-nav">
            <li class="home-link nav-item">
                <a href="/" class="first-level-link"><span id="nav_home_container" class="ca-gov-icon-home" aria-hidden="true"></span>Home</a>
            </li>


            @{ var rv = ViewContext.RouteData.Values;
            string page = $"{rv["page"]}".ToLowerInvariant(); }


                <li class="nav-item @(page == "/about" ?  "active" : "")">
                    <a asp-page="/About" class="first-level-link"><span class="ca-gov-icon-info-bubble" aria-hidden="true"></span>About</a>
                </li>

                <li class="nav-item @(page == "/structure" ?  "active" : "")">
                    <a asp-page="/Structure" class="first-level-link"><span class="ca-gov-icon-flowchart" aria-hidden="true"></span>Structure</a>
                </li>

                <li class="nav-item">
                    <a href = "https://github.com/Office-of-Digital-Innovation" target="_blank" class="first-level-link"><span class="ca-gov-icon-download" aria-hidden="true"></span>Download</a>
                </li>

                <li class="nav-item">
                    <a href = "https://webstandards.ca.gov" target="_blank" class="first-level-link"><span class="ca-gov-icon-state" aria-hidden="true"></span>Web Standards</a>
                </li>

                <li class="nav-item @(page == "/contact" ?  "active" : "")">
                    <a asp-page="/Contact" class="first-level-link"><span class="ca-gov-icon-contact-us" aria-hidden="true"></span>Contact Us</a>
                </li>

                <li class="nav-item" id="nav-item-search">
                    <a href = "javascript:;" class="first-level-link"  aria-label="Search Button"><span class="ca-gov-icon-search" aria-hidden="true"></span>Search</a>
                </li>

            </ul>
        </nav>
        <div id = "head-search" class="search-container">
            <script type = "text/javascript" >
                        var cx = '001779225245372747843:9s-idxui5pk';// Step 7: Update this value with your search engine unique ID. Submit a request to the CDT Service Desk if you don't already know your unique search engine ID.
                        var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script');
                s[s.length - 1].parentNode.insertBefore(gcse, s[s.length - 1]);
                

        </script>
        <!-- Google Custom Search -->
            <div class="container">
                <form id="Search" class="pos-rel" action="/serp.html">
                    <span class="sr-only" id="SearchInput">Custom Google Search</span>
                    <input type="text" id="q" name="q" aria-labelledby="SearchInput" placeholder="Search this website" class="search-textfield height-50 border-0 p-x-sm w-100" />
                    <button type="submit" class="pos-abs gsc-search-button top-0 width-50 height-50 border-0 bg-transparent"><span class="ca-gov-icon-search font-size-30 color-gray" aria-hidden="true"></span><span class="sr-only">Submit</span></button>
                    <div class="width-50 height-50 close-search-btn"><button class="close-search gsc-clear-button width-50 height-50 border-0 bg-transparent pos-rel" type="reset"><span class="sr-only">Close Search</span><span class="ca-gov-icon-close-mark" aria-hidden="true"></span></button></div>
                </form>
            </div>
        </div>
</div>