<!-- Utility Header -->

<div class="utility-header">
    <div class="container">
        <div class="group flex-row">
            <div class="social-media-links">
                <div class="header-cagov-logo"><a href="https://ca.gov"><span class="sr-only">CA.gov</span><img src="https://california.azureedge.net/cdt/statetemplate/5.5.6/images/Ca-Gov-Logo-Gold.svg" class="pos-rel" alt="" aria-hidden="true" /></a></div>
                <a href="/" class="ca-gov-icon-home"><span class="sr-only">Home</span></a>
                <a href="/" class="ca-gov-icon-email"><span class="sr-only">Email</span></a>
            </div>
            <div class="settings-links">
                <a href="/contact.html"><span class="ca-gov-icon-person" aria-hidden="true"></span> Log In</a>
                <button class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#siteSettings" aria-expanded="false" aria-controls="siteSettings"><span class="ca-gov-icon-gear" aria-hidden="true"></span> Settings</button>
            </div>
        </div>
    </div>
</div>

