@page
@model WebTemplateNETCore.Pages.StructureModel
@{
    ViewData["Title"] = "Structure";
}
<main class="main-primary" id="main">
    <div class="banner-main">
        <div class="container">
            <h1><span class="home-logo rounded-50x"><i class="ca-gov-icon-flowchart"></i></span>&nbsp;Structure</h1>
        </div>
    </div>
    <div class="container p-y-lg">
        <p class="lead">This section describes the high-level items that are included in the State Template package that will be provided to State agencies and departments through <a href="http://webstandards.ca.gov">WebStandards</a>.</p>
        <h2>Web Page Structure</h2>
        <p>
            The image below shows the basic structure of a State Template web page, consisting of various elements and building blocks. In our case partial views are used as our webpage structure main building blocks.
            Several common components (such as page _header, _footer, _navigation, _branding, etc.) are included in pages using partial views.
        </p>
        <img src="images/structure.jpg" class="img-fluid" alt="Web Page Template Structure: Global Header (which includes Utility header, Setting Bar, Branding, Navigation and Search), Main Content and Footer." />


    </div>
</main>
